
@import url("reset.css");


.style {
    height: 100vh;
    width: 1000px;
    background-color: rgb(202, 202, 202);
    float: left;
}
.title {
    border-color: white;
    border-width: 5px;
    border-style: solid;
    border-radius: 50%;
  }
.mgStyle {
    width: 100px;
  }


